{% if user.is_authenticated %}
    <form method="post" action="{% url 'posts:add_comment' post.id %}">
      {% csrf_token %}      
      <div class="form-group mb-2">
        {{ form.text }}
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endif %}
{% for comment in comments %}
    <div class="media mb-4">
      <div class="media-body">
        <h5 class="mt-0">
          <a href="{% url 'posts:profile' comment.author.username %}">
            {{ comment.author.username }}
          </a>
        </h5>
          <p>
           {{ comment.text|linebreaks }}
          </p>
      </div>
    </div>
{% endfor %}